

/*.information {
	width: 100%;
	height: 45px;
	padding-top: 12%;
}

.information span {
	font-size: 1.1rem;
	color: white;
	display: inline-block;
	line-height: 45px;
}

.information span:first-child {
	margin-left: 10px;
}*/


/*.information span:last-child{margin-right: 10px;float: right;}*/

.mui-content {
	height: 88%;
	width: 100%;
}

.mui-control-content {
	height: 100%;
	width: 100%;
}
.content_nav{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}
.mui-control-item {
	font-size: 1.05rem;
	font-weight:normal;
	color: #666666;
}
.mui-control-item>span{
	color: #999999;
}
#segmentedControl>a.icon-equipment{
	color: #738FFE;
}

.mui-control-item>.qjby{
	position: relative;
	top: 1px;
}
.mui-control-item.qjby_a{
	position: relative;
	bottom: 1px;
}


.mui-control-item>.sbxj{
	position: relative;
	bottom: 1px;
}

#segmentedControl>a.mui-active{
	color: #738FFE !important;
}
.checkStatistics_content {
	margin-left: 0px;
	background: white;
	width: calc(100% - 0px);
	border: 1px solid #ddd;
	border-radius: 0px;
	height: 70px;
	display: flex;
	margin-top: 7px;
}

.checkStatistics_content>dl:first-child {
	height: 100%;
	width: 20%;
}

.checkStatistics_content>dl:first-child>dt {
	color: #999999;
	padding-left: 15.8px;
	font-size: 1rem;
	text-align: left;
	height: 50%;
	line-height: 40px;
}

.checkStatistics_content>dl:first-child>dd {
	color: #666666;
	padding-left: 15.8px;
	font-size: 1.4rem;
	text-align: left;
	height: 50%;
	line-height: 25px;
}

.checkStatistics_content>dl:nth-child(2) {
	height: 100%;
	width: 80%;
}

.checkStatistics_content>dl:nth-child(2)>dt {
	color: #666666;
	font-size: 1.1rem;
	text-align: left;
	height: 50%;
	line-height: 40px;
	padding-left: 5px;
	overflow: auto;
}

.checkStatistics_content>dl:nth-child(2)>dd {
	color: #999999;
	font-size: 1rem;
	text-align: left;
	height: 50%;
	line-height: 25px;
	padding-left: 5px;
	display: flex;
	justify-content: space-between;
}
.checkStatistics_content>dl:nth-child(2)>dd>p:last-child{
	margin-right: 15px;
}
.checkStatistics_content>div {
	color: black;
	width: 10%;
	height: 70px;
	font-size: 10px;
	padding-top: 25px;
}

.checkStatistics_content>div>span {
	font-size: 20px;
	color: #999999;
}
